{{ define "main" }}
<main>
	<article class="h-entry">
		<div class="title">
			<!-- indieweb: title ON -->
			{{- if .Params.mfbookmark -}}
				<h1 class="title p-name">Bookmarked:<br> {{ .Params.mfbookmark }}</h1>
				<a class="u-bookmark-of" href="{{ .Params.mfbookmark }}" style="display:none;">{{ .Params.mfbookmark }}</a>
			{{- else if .Params.mfrepostof -}}
				<h1 class="title p-name">Repost:<br> {{ .Title }}</h1>
				<a class="u-repost-of" href="{{ .Params.mfrepostof }}" style="display:none;">reposted {{ .Params.mfrepostof }}</a>
			{{- else if .Params.mflikeof -}}
				<h1 class="title p-name">Liked:<br> {{ .Title }}</h1>
				<a class="u-url u-like-of" href="{{ .Params.mflikeof }}" style="display:none;">{{ .Params.mflikeof | truncate 45 }}</a>
				{{ if .Params.cite }}
					<blockquote class="e-content" cite="{{ .Params.mflikeof }}"><p>{{ .Params.cite }}</p></blockquote>
				{{ end }}
			{{- else if .Params.mfreplyto -}}
				<h1 class="title p-name">Reply to:<br> {{ .Params.mfreplyto }}</h1>
				<a class="u-in-reply-to" rel="in-reply-to" href="{{ .Params.mfreplyto }}" style="display:none;">{{ . }}</a>
		   {{- else -}}
		   <h1 class="title p-name">LOLL {{ .Title }}</h1>
		   {{- end -}}
		   <!-- indieweb: title OFF -->

			<div class="meta">Posted: {{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }} | Reading time: {{.ReadingTime}} min</div>

			<div style="display:none;">
			<time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 +0800" }}" ></time>
			<a class="u-url" href="{{ .Permalink }}" ></a>
			<a class="p-category">{{ .Params.webmentionType | default "post" }}</a>
			<a class="p-author h-card" >{{ .Params.author | default .Site.Author.name }}</a>
			</div>

		</div>
		{{ if isset .Params "tldr" }}
		<div class="tldr p-summary">
			<strong>tl;dr:</strong>
			{{ .Params.tldr }}
		</div>{{ end }}

		{{ if .Params.mfreplyto }}
		{{- $source := .Params.mfSource | lower -}}
			{{- with .Params.mfreplyto -}}
				<h2>Origin:</h2>
				{{- if eq $source "twitter" -}}
					{{- $tweetId := replaceRE `https?:\/\/twitter.com\/[a-zA-Z0-9_]{1,20}\/status\/([0-9]*)` `$1` . -}}
					{{- $url := printf "https://api.twitter.com/1/statuses/oembed.json?id=%v&dnt=%v&theme=dark"  $tweetId  "true" -}}
					{{- $json := getJSON $url -}}
					{{ $json.html | safeHTML }}
				{{- else if eq $source "mastodon" -}}
				{{- else if eq $source "github" -}}
					{{- $ghType := "issue" -}}
					{{- if in . "issuecomment" -}}
						{{- $ghType = "comment" -}}
					{{- end -}}
					New {{ $ghType }} on project <a class="u-in-reply-to" rel="in-reply-to" href="{{ . }}">"{{ $.Params.mfGhProjectName }}"</a>
				{{- else -}}
				{{ end }}
				<h2>My reply:</h2>
			{{ end }}
		{{ end }}

		<section class="body e-content">
			{{ .Content }}
		</section>
		<p style="text-align: right; font-size: x-small;">
			<a href="{{ $.Site.Params.Repository }}blob/master/content/{{.File.Path}}">Edit</a>
		</p>

		{{ if ne .Type "page" }}
		{{ if gt .Params.tags 0 }}
		<div class="post-tags">
			<nav class="nav tags">
				<ul class="tags">
					{{ range .Params.tags }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</nav>
		</div>
		{{ end }}
		{{ end }}
		{{- if and ( .Params.comments | default true ) ( .Site.Params.enableComments | default false) -}}
		<div id="comment">
			{{ partial "disqus.html" . }}
		</div>
		{{ end }}
		{{ partial "next-prev-post.html" . }}
	</article>
</main>
{{ end }}
