{{ if or (hasPrefix .Destination "/") (in (string .Destination) "robbinespu.gitlab.io") }}
{{ $safeURL := .Destination | safeURL }}
{{ $isExternal := not (strings.HasPrefix .Destination "/") }}
<a href="{{ $safeURL }}"
   {{ with .Title }}title="{{ . }}"{{ end }}
   {{ if $isExternal }}
      target="_blank" rel="nofollow noopener noreferrer"
   {{ end }}>
   {{ if .Text }}
      {{ if eq $isExternal true }}
         {{ .Text | replaceRE `^https?://` "$1" | markdownify }}
      {{ else }}
         {{ .Text | markdownify }}
      {{ end }}
   {{ else }}
      {{ if eq $isExternal false }}
         {{ $safeURL }}
      {{ end }}
   {{ end }}
</a>
{{ end }}
