{{ if eq .Text .Destination}}
<a href="{{ .Destination | safeURL }}"
   {{ with .Title}} title="{{ . }}"{{ end }}
   {{ if and (strings.HasPrefix .Destination "http") (in (string .Destination) "robbinespu.gitlab.io") }}
   {{ else }}
      target="_blank" rel="nofollow noopener noreferrer"
   {{ end }}>
   {{ string .Destination }}
</a>
{{ else}}
<a href="{{ .Destination | safeURL }}"
  {{ with .Title}} title="{{ . }}"{{ end }}
  {{ if strings.HasPrefix .Destination "http" }}
      target="_blank" rel="nofollow noopener noreferrer"
   {{ end }}>
   {{ if .Text }}
      {{ .Text | markdownify }}
   {{ end }}
</a>
{{ end }}
