{{ define "main" }}
<h1 class="page-title">All tags</h1>

{{ $biggest := 1 }}
{{ $smallest := 1 }}
{{ $max := 3 }}
{{ $min := 1 }}
{{ $size := $min }}

{{ $data := .Data }}
<details>
    <summary>List</summary>
    <div class="tag-cloud">
		<ul class="tags">
			{{ range $key, $value := .Data.Terms.ByCount }}
			{{ $size := (add (mul (div $value.Count $biggest) (sub $max $min)) $min) }}
			{{ $size := (cond (eq $biggest $smallest) $min $size) }}
			<li><a style="font-size: {{ $size }}rem;" href="{{ $.Site.LanguagePrefix | absURL }}{{ $data.Plural }}/{{ $value.Name | urlize }}/">{{ $value.Name }}</a></li>
			{{ end }}
		</ul>
	</div>
</details>

<details>
    <summary>Cloud</summary>
    {{ if (eq .Type "tags")}}
    <div id="tag-cloud">
      {{ if (eq (len .Data.Terms) 0) }}
      <div class="tag-cloud-title">
        No tags
      </div>
      {{ end }}
      <div class="tag-cloud-tags">
        {{ $AllRegularPagesCount := len .Site.RegularPages }}
        {{ range $elem := .Data.Terms.Alphabetical | shuffle }}
        <a style="font-size: {{ (add 0.8 (mul 15 (div (float $elem.Count) $AllRegularPagesCount))) }}rem;" href="{{ $elem.Page.Permalink }}">
          {{- .Page.Title -}}
        </a>
        {{ end }}
      </div>
    </div>
    {{ else if (eq .Type "categories")}}
      <div id="categories">
        {{ if (eq (len .Data.Terms) 0) }}
        <div class="category-list-title">
          No categories
        </div>
        {{ end }}
        <div class="category-list">
          <ul class="category-list">
            {{ range .Data.Terms.Alphabetical }}
            <li class="category-list-item">
              <a class="category-list-link" href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
              <span class="category-list-count">{{ .Count }}</span>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
      {{ end }}
	  
</details>

{{ end }}


