<div class="post-comments">
    <p class="comment-notice"><b>Comments</b>: To comment on this post,
      send me an email following the template below. Your email address
      will not be posted</p>

    <div class="post-comment {% cycle 'odd', 'even' %}">
        <div style="border-top: 1px dashed #b3b2ae;"><h3>Discussion and feedback</h3></div>
          <script src="https://utteranc.es/client.js"
          repo="RobbiNespu/blog_discussions"
          issue-term="pathname"
          theme="preferred-color-scheme"
          crossorigin="anonymous"
          async>
          </script>
        </div>
    </div>
  </div>
