<header>
	<div class="main">
		<strong><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></strong>
	</div>
	<nav>
		{{ with .Site.Menus.main }}
                {{ $navbar_len := len . }}
                {{ range $i, $nav_item := . }}
                    <a class="menu" href="{{ $nav_item.URL }}" title="{{ $nav_item.Name }}">
                        {{ $nav_item.Pre }}{{ $nav_item.Name }}{{ $nav_item.Post }}
                    </a>
                    {{ if ne (add $i 1) $navbar_len }}
                        /
                    {{ end }}
                {{ end }}
            {{ end }}
            | <a id="dark-mode-toggle" class="fal fa-moon-o">Toggle Dark Mode</a>
	</nav>
</header>
{{- if isset .Site.Params "subtitle" -}}
	<p>{{ .Site.Params.Subtitle | markdownify }}</p>
{{- end -}}