{{/*  KaTeX  */}}
{{ $katex := resources.Get "css/katex.min.css" | minify | fingerprint }}
<link rel=stylesheet href="{{ $katex.Permalink }}" media=print onload="this.media='all',this.onload=null" crossorigin>
<script defer src="{{ .Site.BaseURL }}js/katex.min.js" crossorigin></script>
<script defer src="{{ .Site.BaseURL }}js/auto-render.min.js" crossorigin></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    renderMathInElement(document.body, {
      delimiters: [
        { left: "$$", right: "$$", display: true },
        { left: "$", right: "$", display: false },
        { left: "\\(", right: "\\)", display: false },
        { left: "\\[", right: "\\]", display: true }
      ]
    });
  });
</script>
