{{ if .IsPage }}
{{ if .NextInSection | or .PrevInSection }}
<div class="post-net-prev">
        <div class="md-footer-nav">
            <!-- Link to previous page -->
            {{ if (.NextInSection) }}
            <span style="left: 50%; margin-right: -50%;">
              <a href="{{ .NextInSection.Permalink }}"
                  title="{{ .NextInSection.Title }}"
                  rel="prev"
                  style="border-bottom: none;">
                  ⬅️ Next
              </a>
              </span>
            {{ end }}

            <span style="left: 50%; margin-right: -50%; position: sticky;">
              <a href="#top"
                  title="Back to the top"
                  rel="top"
                  style="border-bottom: none;">
                  ⬆️
              </a>
              </span>

            <!-- Link to next page -->
            {{ if .PrevInSection }}
            <span style="float:right;">
              <a href="{{ .PrevInSection.Permalink }}"
                  title="{{ .PrevInSection.Title }}"
                  rel="next"
                  style="border-bottom: none;">
                    Prev ➡️
              </a>
              </span>
            {{ end }}
        </div>
</div>
{{ end }}
{{ end }}
