{{ if .IsPage }}
{{ if .NextInSection | or .PrevInSection }}
<div class="post-net-prev">
        <div class="md-footer-nav">
            <!-- Link to previous page -->
            {{ if (.NextInSection) }}
            <span style="left: 50%; margin-right: -50%; position: ;">
              <a href="{{ .NextInSection.Permalink }}"
                  title="{{ .NextInSection.Title }}"
                  rel="prev">
                    << Next
              </a>
              </span>
            {{ end }}

            <span style="left: 50%; margin-right: -50%; position: sticky;">
              <a href="{{ .Site.BaseURL }}"
                  title="Homepage"
                  rel="home">
                    🏠
              </a>
              </span>

            <!-- Link to next page -->
            {{ if .PrevInSection }}
            <span style="float:right;">
              <a href="{{ .PrevInSection.Permalink }}"
                  title="{{ .PrevInSection.Title }}"
                  rel="next">
                    Prev >>
              </a>
              </span>
            {{ end }}
        </div>
</div>
{{ end }}
{{ end }}
