<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<body>
		<div class="content">
			{{ partial "head.html" . }}
			<main>
				<article>
					{{ with .Site.GetPage "/homepage/index.md" }}{{ if not (eq .Title "") }}
					<div class="title">
						<h1 class="title">{{ .Title }}</h1>
					</div>
					{{ end }}{{ end }}
					{{ if isset .Params "tldr" }}
					<div class="tldr">
						<strong>tl;dr:</strong>
						{{ .Params.tldr }}
					</div>{{ end }}

					<section class="body">
						{{ with .Site.GetPage "/homepage/index.md" }}{{ .Content }}{{ end }}

						<h1 id="recent-articles">Recent posts 📰</h1>
						<ul class="posts">
							{{ range ( where .Site.RegularPages "Type" "posts" | first 5 ) }}
							<li class="post">
								<a href="{{ .RelPermalink }}">{{.Title | truncate 55 "..." }}</a> <span class="meta" style="float: right;">{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</span>
							</li>
							{{end}}
						</ul>
						<pre><code>💡 You may check <a href="posts">archives</a> for full list of articles</code></pre>

						<h1 id="contact">Contact 💌</h1>
						<p>If you want to get in touch to chat something meaningful
							<del>or meaningless</del>, you can send me a message
							on <a target="_blank" rel="me" href="https://twitter.com/robbinespu">Twitter</a>,
							<a target="_blank" rel="me" href="https://mstdn.social/@robbinespu">Mastodon</a>,
							<a target="_blank" rel="me" href="https://matrix.to/#/@mambang:matrix.org">Matrix</a>
							or <a target="_blank" rel="me" href="mailto:robbinespu@gmail.com">Email</a>.
							You also can use send confidential message to me using
							<a rel="pgpkey authn" href="/pgp_keys.asc">PGP </a> encryption 🔐
						</p>
						<p>Hopefully you have found something useful here. Feel free to give me some feedback via <code>utterances</code> comments system or send a (<a href="https://useplaintext.email" target="_blank" rel="nofollow noopener noreferrer">plain text</a>) email to my personal public<a href="mailto:~robbinespu/mailing-list@lists.sr.ht?subject=[Hello]" target="_blank" rel="nofollow noopener noreferrer"> mailing list</a>.</p>
							<div class="details admonition info open">
							  <div class="details-summary admonition-title">
							    <i class="icon fas fa-info-circle fa-fw"></i> Available status<i class="details-icon fas fa-angle-right fa-fw"></i>
							  </div>
							  <div class="details-content">
							    <div class="admonition-content">I’m open to interesting collaboration and job offers 👍🏽</div>
							  </div>
							</div>
					</section>

					{{ if ne .Type "page" }}
					{{ if gt .Params.tags 0 }}
					<div class="post-tags">
						<nav class="nav tags">
							<ul class="tags">
								{{ range .Params.tags }}
								<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
								{{ end }}
							</ul>
						</nav>
					</div>
					{{ end }}
					{{ end }}
				</article>
			</main>
			{{ partial "footer.html" . }}
		</div>

	</body>
</html>
