<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<body>
		<div class="content">
			{{ partial "head.html" . }}
			<main>
				<article>
					<div class="title">
						<h1 class="title">{{ with .Site.GetPage "/homepage/index.md" }}{{ .Title }}{{ end }}</h1>
					</div>
					{{ if isset .Params "tldr" }}
					<div class="tldr">
						<strong>tl;dr:</strong>
						{{ .Params.tldr }}
					</div>{{ end }}

					<section class="body">
						{{ with .Site.GetPage "/homepage/index.md" }}{{ .Content }}{{ end }}

						<h2 id="recent-articles">Recent posts 📰</h2>
						<ul class="posts">
							{{ range ( where .Site.RegularPages "Type" "blog" | first 5 ) }}
							<li class="post">
								<a href="{{ .RelPermalink }}">{{.Title}}</a> <span class="meta">{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</span>
							</li>
							{{end}}
						</ul>
						<pre><code>💡 You may check <a href="post">archive</a> for full list of articles</code></pre>

						<h3 id="contact">Contact 💌</h3>
						<p>If you want to get in touch to chat something meaningful 
							<del>or meaningless</del>, you can send me a message 
							on <a href="https://twitter.com/@robbinespu">Twitter</a> / 
							<a href="https://mstdn.social/@robbinespu">Mastodon</a> 
							or send me an <a href="mailto:robbinespu@gmail.com">email</a>. 
							You also can send secret message to me using 
							<a href="https://keybase.io/robbinespu/pgp_keys.asc">PGP </a>encryption 🔐
						</p>
					</section>
	
					<div class="post-tags">
						{{ if ne .Type "page" }}
						{{ if gt .Params.tags 0 }}
						<nav class="nav tags">
							<ul class="tags">
								{{ range .Params.tags }}
								<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
								{{ end }}
							</ul>
						</nav>
						{{ end }}
						{{ end }}
					</div>
				</article>
			</main>
			{{ partial "footer.html" . }}
		</div>
		
	</body>
</html>
