<ul class="activity-stats">
    <li>
      <span class="label">Distance</span>
      <span class="value">211.76km</span>
    </li>
    <li>
      <span class="label">Moving time</span>
      <span class="value">10h 54m</span>
    </li>
    <li>
      <span class="label">Speed (avg)</span>
      <span class="value">19.4km/h</span>
    </li>
    <li>
      <span class="label">Elevation</span>
      <span class="value">3459.2m</span>
    </li>
    <li>
      <span class="label">Average Heart Rate</span>
      <span class="value">124.4bpm</span>
    </li>
    <li>
      <span class="label">Elapsed time</span>
      <span class="value">14h 7m</span>
    </li>
    <li>
      <span class="label">Speed (max)</span>
      <span class="value">58.6km/h</span>
    </li>
    <li>
        <span class="label">Temperature</span>
        <span class="value">25°C</span>
      </li>
  </ul>