
{{ $url := printf "https://robbinespu.gitlab.io%v"  .RelPermalink }}
{{ $urlized := $url | md5 }}

<div class="webmentions">
    <details>
        <summary class="text-center padding-bottom-04rem">IndieWeb Interactions</summary>
        <p class="text-center">Below you can find the interactions that this page has had using Indieweb. Which means, you can mentioned this URL on any website that support <a href="http://indieweb.org/webmention">WebMention</a>. Have you written a <a href="https://indieweb.org/responses">response</a> to this post? Let me know the URL:</p>

        <div class="manual-webmention text-center">
            <p></p>
            <form id="manual-webmention" action="https://webmention.io/robbinespu.gitlab.io/webmention" method="post">
                <input type="url" name="source" value="" placeholder="https://example.com/my-post" style="width:30%;"/>
                <input type="hidden" name="target" value="{{ $url }}" />
                <input type="submit" name="submit" value="Send" />
            </form>

            <p><small>(Do you not have a website set up with WebMention capabilities? You can use <a href="https://commentpara.de/">Comment Parade</a>.)</small></p>
        </div>
    </details>
</div>
<br>

{{ $dummyAlias := slice .RelPermalink }} <!-- add current URL -->
{{ range $.Page.Params.aliases}}
    {{ $dummyAlias = $dummyAlias | append . }}  <!-- add alias URL if exist -->
{{ end }}

{{- range $dummyAlias -}}
        {{ $aliases := printf "https://robbinespu.gitlab.io%v"  . }}
        {{ $aliasesMD5 := $aliases | md5 }}

        {{ if index $.Site.Data.webmentions $aliasesMD5 }}
            {{ $likes := index (index $.Site.Data.webmentions $aliasesMD5) "like-of" }}
            {{ $replys := index (index $.Site.Data.webmentions $aliasesMD5) "in-reply-to" }}
            {{ $reposts := index (index $.Site.Data.webmentions $aliasesMD5) "repost-of"}}
            {{ $mentions := index (index $.Site.Data.webmentions $aliasesMD5) "mention-of"}}
            {{ $bookmarks := index (index $.Site.Data.webmentions $aliasesMD5) "bookmark-of"}}

            <div id="webmentions">
                <!-- HACK HERE -->
                {{ if $replys }}
                <h2>Comments and replies</h2>
                <ul class="comments">
                    {{ $seed := "foo" }}
                    {{ range $i, $reply := $replys }}
                    {{ $randomHash := delimit (shuffle (split (md5 $seed) "" )) "" }}
                    {{ $randomImgAvatar := delimit ( shuffle (shuffle (slice "avataaars" "big-ears" "big-ears-neutral" "big-smile" "bottts" "croodles" "gridy" "human" "identicon" "jdenticon" "open-peeps" "pixel-art-neutral")) | first 1) ""}}
                    <li>
                        <a class="reaction" rel="nofollow ugc" title="{{ $reply.author.name }} replied">
                            <img src="{{ if $reply.author.photo }}{{ $reply.author.photo }}{{ else }}https://avatars.dicebear.com/api/{{  $randomImgAvatar }}/{{ $randomHash }}.svg{{end}}">💬</a>
                            <a class="source" rel="nofollow ugc" href="{{$reply.url}}">{{ $reply.author.name }}</a>: <span class="text">{{ $reply.content.text}}</span>
                    </li>
                    {{end}}
                </ul>
                {{end}}

                {{ if or ($mentions) ($bookmarks) ($likes) ($reposts) }}
                <h2>Mentions, bookmarks, likes and repost</h2>
                <ul class="reacts">

                    {{ range $i, $mention := $mentions }}
                        {{ $seed := "foo" }}
                        {{ $randomHash := delimit (shuffle (split (md5 $seed) "" )) "" }}
                        {{ $randomImgAvatar := delimit ( shuffle (shuffle (slice "avataaars" "big-ears" "big-ears-neutral" "big-smile" "bottts" "croodles" "gridy" "human" "identicon" "jdenticon" "open-peeps" "pixel-art-neutral")) | first 1) ""}}
                        <a class="reaction" rel="nofollow ugc" href="{{$mention.url}}" title="{{ $mention.author.name }} mentioned"><img src="{{ if $mention.author.photo }}{{ $mention.author.photo }}{{ else }}https://avatars.dicebear.com/api/{{  $randomImgAvatar }}/{{ $randomHash }}.svg{{end}}">💥</a>
                    {{end}}

                    {{ range $i, $bookmark := $bookmarks }}
                        {{ $seed := "foo" }}
                        {{ $randomHash := delimit (shuffle (split (md5 $seed) "" )) "" }}
                        {{ $randomImgAvatar := delimit ( shuffle (shuffle (slice "avataaars" "big-ears" "big-ears-neutral" "big-smile" "bottts" "croodles" "gridy" "human" "identicon" "jdenticon" "open-peeps" "pixel-art-neutral")) | first 1) ""}}
                    <a class="reaction" rel="nofollow ugc" href="{{$bookmark.url}}" title="{{ $bookmark.author.name }} bookmarked"><img src="{{ if $bookmark.author.photo }}{{ $bookmark.author.photo }}{{ else }}https://avatars.dicebear.com/api/{{  $randomImgAvatar }}/{{ $randomHash }}.svg{{end}}">⭐️</a>
                    {{ end }}


                    {{ range $i, $like := $likes }}
                        {{ $seed := "foo" }}
                        {{ $randomHash := delimit (shuffle (split (md5 $seed) "" )) "" }}
                        {{ $randomImgAvatar := delimit ( shuffle (shuffle (slice "avataaars" "big-ears" "big-ears-neutral" "big-smile" "bottts" "croodles" "gridy" "human" "identicon" "jdenticon" "open-peeps" "pixel-art-neutral")) | first 1) ""}}
                    <a class="reaction p-like h-cite u-url" rel="nofollow ugc" href="{{$like.url}}" title="{{ $like.author.name }} liked"><img src="{{ if $like.author.photo }}{{ $like.author.photo }}{{ else }}https://avatars.dicebear.com/api/{{  $randomImgAvatar }}/{{ $randomHash }}.svg{{end}}">😍</a>
                    {{ end }}

                    {{ range $i, $repost := $reposts }}
                        {{ $seed := "foo" }}
                        {{ $randomHash := delimit (shuffle (split (md5 $seed) "" )) "" }}
                        {{ $randomImgAvatar := delimit ( shuffle (shuffle (slice "avataaars" "big-ears" "big-ears-neutral" "big-smile" "bottts" "croodles" "gridy" "human" "identicon" "jdenticon" "open-peeps" "pixel-art-neutral")) | first 1) ""}}
                    <a class="reaction p-repost h-cite u-url" rel="nofollow ugc" href="{{$repost.url}}" title="{{ $repost.author.name }} reposted"><img src="{{ if $repost.author.photo }}{{ $repost.author.photo }}{{ else }}https://avatars.dicebear.com/api/{{  $randomImgAvatar }}/{{ $randomHash }}.svg{{end}}">🔄</a>
                    {{ end }}

                </ul>
                {{ end }}
                <br>
                <!-- HACK HERE -->
            </div>
        {{end}}

{{- end -}}
